<style>
.convo {
  margin-bottom:5px;  
  background-color: greenyellow;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}
</style>
<% 
  convos = $ph.all.mapo('conv').uniq - ['noop'] 
%>

<h1> Convos </h1>
<% convos.each do |convo| %>
  <div class='convo w100'>
    <a href='/convos/<%=convo%>'><%=convo.gsub('_',' ')%></a>
  </div>
<% end %>