<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
</style>

<script>
  window.cu = <%= cu.to_json %>;
</script>
<nav class="">
  <div>
    <div class="navbar-header" >
      <a class="navbar-brand" href="/" >home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right header-links">          
                <% if cu %>
                  <li><a href="/submit">Submit</a></li>
                <% else %>                  
                  <!-- <li><a href='/login'>Login</a></li> -->
                <% end %>                
            </ul>
    </div>
  </div>
</nav>

