<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav li a:hover {
    color: #1abc9c !important;
}
.ct {
  text-align: center;
}
.fl {
  display: flex;
}
.fl1 {
  flex:1;
}
.space-around {
  color: red;
}
.btn {
  background-color: bisque;
  padding: 20px;
  /*display: inline-flex;*/
  text-decoration: none;
  text-transform: uppercase;
}

/*h1 {
  background-color: lightblue;
  padding:20px;
  text-align: center
}
*/
/*a {
  text-decoration: none;
  color: black;
}*/
.m10 {
  margin:10px;
}
</style>

<script>
  window.cu = <%= cu.to_json %>;
</script>
<% if false %>
<nav class="">
  <div>
    <div class="fl space-around" >
      <a class="btn fl1 ct" href="/" >tlvops</a>
      <a class="btn fl1 ct" href="/signup_page" >sign up</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right header-links">          
                <% if cu %>
                  <li><a href="/submit">Submit</a></li>
                <% else %>                  
                  <!-- <li><a href='/login'>Login</a></li> -->
                <% end %>                
            </ul>
    </div>
  </div>
</nav>
<% end %>
<nav style='background-color:whitesmoke; padding:20px'>
  <span style='float:left'>
    <a href='/'>tlvops</a>
    
    <% if cu %>
      <span href='/me'>(<%=cu['email']%>)</span>
      <a href='/my_post'>Your Hiring Page</a>
    <% end %>
  </span>
  <span style='float:right'>    
    
    <% if cu %>
      <a href='/logout'>logout</a>
    <% else %>
      <a href='/register'>register</a>
      <a href='/login'>login</a>
    <% end %>
  </span>
  <div style='clear:both'></div>
</nav>