<h2> Who's Hiring? </h2>
<a href='/?q=frontend'>#frontend</a>
<a href='/?q=backend'>#backend</a>

<div class='posts-list'>
  <% get_posts.each do |post| %>
  <%= erb :'posts/single_post', locals: {post: post} %>
  <% end %>
</div>