<style>
.conv {
  margin-bottom:10px;
}
</style>
<% 
  convos = $ph.all.mapo('conv').uniq - ['noop'] 
%>

<h1> OK1K </h1>

<% convos.each do |convo| %>
  <div class='convo'>
    <a href='/convo/<%=convo%>'><%=convo%></a>
  </div>
<% end %>