<%

  ph = $phrases.get(pr[:pid]) || $terms.get(pr[:pid])
%>


<%= erb :'phrases/single_phrase', locals: {ph: ph} %>

<% if ph[:conv_id] %>
<div>
<label>Convo</label>: <a href='/convos/<%=ph[:conv_id]%>'> To conversation </a>
</div>
<% end %>

<h2> Related Terms </h2>

<% ($terms.random(10) + $phrases.random(10)).shuffle.each do |ph| %>
  <%= erb :'phrases/single_phrase', locals: {ph: ph} %>
<% end %>