<style>
.ph-container {  
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  margin: 10px 0;
  zdisplay: flex;  
  background-color: whitesmoke;
  border-radius: 10px;
  padding:10px;
}
.ph {
  flex: 1;  
  letter-spacing: 0.5px;
  font-size: 20px;
  padding:10px;
  border-radius:10px;
  cursor: pointer;
}
.ph:hover {
 /* text-decoration: underline;*/
}
.ph-left { 
  color: black;
  /*font-weight: bold*/
}
.ph-right {
  color: grey;
}
</style>

<div class='ph-container' onclick="document.location='/phrases/<%=ph[:_id]%>'">
  <div class='ph ph-left'>
    <%= ph['ru'] %>
  </div>
  <div class='ph ph-right'>
    <small>(<%= ph['en'] %>)</small>
  </div>
</div>