<h1> Post New Role </h1>
<form class='f1'>
  <input name='org_name' placeholder='Company Name' />
  <input name='title' placeholder='title' required />
  <input name='address' placeholder='address' required />
  <button> Submit </button>
</form>
